.masonry {
  background-color: #000000;
  /* number of columns */
  column-count: 3;
  /* space between columns */
  /* column-gap: 1rem; */
}

.masonry-item {
  /* prevents items from breaking */
  break-inside: avoid;
  margin-bottom: 1rem;
}

.masonry-item img {
  width: 360px;
  display: block;
  border-radius: 8px;
}
